.subscribe-form {
    margin-top: 18px;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 100%;
    }

    &__input-block {
        // display: flex;
        // width: 100%;
    }

    &__input-area {
        max-width: 450px;
        height: 49px;

        margin: 0 0 20px 0;
        padding: 16px 15px;

        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color: var(--tertiary-text);
    }
}