.container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    // display: flex;

    // justify-content: space-around;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    &--header {
        // width: 480px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 480px) {
            width: 480px;
        }

        @media screen and (min-width: 768px) {
            width: 768px;
        }
    }

    &--hero {
        display: block;
    }

    &--footer {
        // width: 480px;
        padding: 0 15px;
        margin: 0 auto;
        // display: flex;
        // align-items: baseline;

        @media screen and (min-width: 480px) {
            width: 480px;
        }

        @media screen and (min-width: 768px) {
            width: 768px;
        }

    }

    &--products {
        // flex-wrap: wrap;
        // width: 480px;
        padding: 0 15px;
        margin: 0 auto;
        // display: flex;

        // justify-content: space-around;

        @media screen and (min-width: 480px) {
            width: 480px;
        }

        @media screen and (min-width: 768px) {
            width: 768px;
        }
    }
}

.mobile-menu {
    @media screen and (max-width: 767px) {
        display: none;
    }
}