.clients {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;

    &__item {
        // flex-basis: calc(100% / 2 - 30px);

        width: 210px;
        height: 90px;

        display: flex;
        justify-content: center;
        align-items: center;

        // margin-right: 30px;

        border: 1px solid var(--clients-border);
        box-sizing: border-box;
        border-radius: 4px;

        color: var(--socials-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__item:nth-child(2n+3),
    &__item:nth-child(1) {
        margin: 0 30px 0 0;
    }

    &__item:nth-child(n+5) {
        margin-bottom: 0;
    }

    // &__item:last-child {
    //     margin-right: 0;
    // }

    &__item:hover,
    &__item:focus {
        border: 1px solid var(--hover-text);
        cursor: pointer;
        color: var(--hover-text);
    }

    &__icon {
        // display: flex;
        // justify-content: center;
        // align-content: center;

        fill: currentColor;
    }

    &__icon:hover,
    &__icon:focus {
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}