.header {
    @media screen and (min-width: 768px) {
        justify-content: space-between;
        width: 100%;
    }
}


.navigation {
    @media screen and (min-width: 768px) {
        display: flex;
        width: 300px;
        margin-right: 84px;
    }

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__link {
        @media screen and (min-width: 768px) {
            display: flex;
            font-size: 14px;
        }
    }
}

.contacts {
    &__item {
        @media screen and (min-width: 768px) {
            margin-right: 0;
        }
    }

    // &__item:first-child {
    //     @media screen and (min-width: 768px) and (max-width: 1199px) {
    //         margin-right: 0;
    //         padding-top: 21px;
    //         padding-bottom: 10px;
    //     }
    // }

    // &__item:nth-child(2) {
    //     @media screen and (min-width: 768px) and (max-width: 1199px) {
    //         margin-right: 0;
    //         padding-top: 0px;
    //         padding-bottom: 21px;
    //     }
    // }

    &__link {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            font-size: 12px;
            padding: 0;
        }
    }

    &__link--mail {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 0;
            padding-top: 21px;
            margin-bottom: 10px;
        }
    }

    &__link--tel {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 0;
            padding-top: 0px;
            padding-bottom: 21px;
        }
    }

    &__icon {
        @media screen and (min-width: 768px) {
            display: flex;
            margin-right: 8px;

        }
    }
}

