:root {
    --common-text: rgba(33, 33, 33, 1);
    --hover-text: rgba(33, 150, 243, 1);
    --tertiary-text: rgba(255, 255, 255, 1);
    --secondary-text: rgba(117, 117, 117, 1);
    --address-text: rgba(255, 255, 255, 0.6);
    --bcg: rgba(245, 244, 250, 1);
    --clients-border: rgba(175, 177, 184, 1);
    --socials-color: rgba(175, 177, 184, 1);
    --modal-text: #757575;
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --button-hover-color: rgba(24, 140, 232, 1);
}