@media screen and (min-width: 1200px) {
    .modal-window {
        width: 600px;
        height: 581px;
    }

    .feedback__label {
        width: 100%;
    }

    .feedback__input {
        width: 100%;
    }
}