.header {
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        width: 100%;
    }
}


.navigation {
    @media screen and (min-width: 1200px) {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__link {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
    }
}

.contacts {
    @media screen and (min-width: 1200px) {
        padding-left: 0;
        display: flex;
        align-items: center;
    }

    &__link {
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    }

    &__item:first-child {
        margin-right: 50px;
    }
}
