@media screen and (min-width: 1200px) {
    .subscribe-form {
        margin-top: 0;
    }

    .subscribe-form__input-area {
        width: 358px;
    }

    .subscribe-form__input-block {
        display: flex;
    }

    .subscribe-form__input-area {
        margin-bottom: 0;
        margin-right: 12px;
    }
}