@media screen and (min-width: 1200px) {
    .section-hero {
        height: 600px;
        display: flex;
        align-items: center;

        padding-top: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../img/background-hero.jpg");
    }

    .section-hero__title {
        font-size: 44px;
        line-height: 60px;
    }
}