.team {
    @media screen and (min-width: 1200px) {
        width: 100%;
        margin: 0 auto;

        &__title {
            font-size: 36px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            min-width: calc(1200px / 4 - 30px);
            margin-bottom: 0;
        }
    }
}

