.section {
    @media screen and (min-width: 1200px) {
        // width: 1200px;
        // margin: 0 auto;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantages {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: unset;
        justify-content: space-between;
    }

    &__item {
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}
