.team {
    @media screen and (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
    }

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item {
        @media screen and (min-width: 768px) {
            min-width: calc(768px / 2 - 30px);
        }
    }

    &__item:last-child,
    &__item:nth-last-child(2) {
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

