.container {
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

    &--header {
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }

    &--footer {
        @media screen and (min-width: 1200px) {
            width: 1200px;
            flex-wrap: unset;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &--products {
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
}

.mobile-menu {
    @media screen and (min-width: 1200px) {
        width: 100%;
        margin-left: 93px;
        justify-content: space-between;
    }
}