@media screen and (min-width: 1200px) {
    .products__item {
        flex-basis: calc(100% / 3 - 30px);
        margin-right: 0;

        &:nth-child(n+7) {
            margin-bottom: 0;
        }
    }

    .overlay {
        height: 284px;

        &--thumb {
            height: 284px;
        }
    }
}

